// Body
$body-bg: #fdfefe;
$light-grey: #f3f5f5;
$alt-info: #029DA5;


// Typography
$font-family-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// // Overriding backpack variables
// $primary: #ff223a;
// $secondary: #9bb8d3;
// $success: #00b388;
// $info: #7d55c7;
// $warning: #f3d03e;
// $danger: #ed5656;
// $light: #dbe2e9;
// $dark: #222222;
// $default: #ffffff;
// $notice: #f3d03e;
// $error: #ed5656;
